@import 'box-sizing';
@import 'normalize';
@import 'boutons';
@import 'footer';
@import 'header';
@import 'main-menu';
@import 'keyframes';
@import 'mixins';
@import 'variables';


/*GENERAL*/

.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h3{
    margin-block-end: $margin-block-end;
    margin-block-start: $margin-block-start;
    font-size: 1.8rem;
    font-weight: bold;
}

h4{
    font-weight: bold;
    font-size: 20px;
    margin-block-end: $margin-block-end;
    margin-block-start: $margin-block-start;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
     
}

.subtitles{
    padding-left: 1rem;
    line-height: 5px;
}

.padding-title{
    padding-bottom: 2rem;
    padding-top: 2.5rem;
}

.eatery-text{
    margin-block-end: $margin-block-end;
    margin-block-start: $margin-block-start; 
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden; 
}

.bg-grey-light{
    background-color: $bg-colour-lighter;
}

a{
    text-decoration: none;
    color: black;
}

/*BODY*/
body{
    .loader-title{
        animation: intro 5s ease-in forwards;
    }
    .loader-container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: -1000;
    }
    .loader{
        width: 350px;
        height: 350px;
        border-radius: 50px;
        animation: loader 4s linear 1s forwards;
    }
    .loader div{
        box-sizing: border-box;
        position: absolute;
        width: 350px;
        height: 350px;
        border: 10px solid transparent;
        border-top-color: #ad60f5;
        border-radius: 50%;
        animation: spinnerOne 3s cubic-bezier(0.34, 0.26, 0.73, 0.93) infinite both;
    }
    .loader div:nth-child(2) {
        border: 10px solid transparent;
        border-bottom-color: #ff79da;
        animation: spinnerOne 3s cubic-bezier(0.34, 0.26, 0.73, 0.93) infinite both;
    }
    .main-content{
        animation: page cubic-bezier(0.34, 0.26, 0.73, 0.93) 6s;
    }
}



main{
    width: 100%;
    font-family: $font-text;

/*formulaire de recherche*/
    .location-bar{
        height: 60px;
        box-shadow: inset -2px 4px 5px -4px grey;
        padding-left: ($padding-left + 2.5rem);
        .no-border{
            border: none;
        }
        .bold{
            font-weight: bold;
        }
        .margin{
            margin-left: ($margin-left - 0.5rem);
        }
    }
    .bg-grey{
        background-color: #F2F2F2;  
    }
    
    

/* Présentation*/
    .presentation{
        height: 320px;
        text-align: center;
        padding-top: 40px;
        
        
        .padding{ 
            padding-left: ($padding-left + 3.5rem);
            padding-right: 5rem;
        }
        
        p{
            font-size: $font-size-text;
            padding-left: $padding-left;
            padding-right: 1.5rem;
            padding-top: 0.5rem;
            padding-bottom: 2rem;
            margin-block-start: $margin-block-start;
            margin-block-end: $margin-block-end;
        }
    }
    

/*Fonctionnement*/
    .working{
        height: 550px;
        padding-left: 1.5rem;
        @media screen and (min-width:768px){   
            height: 250px;
            padding-right: 2rem; 
        }
        .responsive{
            @media screen and (min-width:768px){   
                width: auto;
                display: flex;
            }
            .working-bloc{
                width: 90%;
                height: 90px;
                border: 2px solid transparent;
                border-radius: 20px 20px 20px 20px;
                box-shadow: 0px 16px 20px -16px grey; 
                margin-left: 1rem;
                margin-bottom: 2rem;
                @media screen and (min-width:768px){   
                    display: flex;
                    flex-direction: column;
                    height: 120px;
                }
                &:hover{
                    background-color: #ede7f6;
                }
                .round-number{
                    width: 6%;
                    border: 1px solid transparent;
                    border-radius: 25px 25px 25px 25px;
                    background-color: $primary;
                    color: $text-colour-light;
                    margin-right: 1.5rem;
                    margin-left: -3rem;
                    @media screen and (min-width:768px){   
                        justify-content: center;
                        width: 8%;
                        margin-right: 0;
                        margin-left: 0;
                        margin-bottom: 15px;
                    }
                }
                .icon:hover{
                    color: $primary;
                    @media screen and (min-width:768px){   
                        
                    }
                }
                .working-text{
                    font-family: $font-text;
                    margin-left: 2rem;
                    padding-right: 2rem;
                    font-weight: bold;
                    font-size: 20px;
                    @media screen and (min-width:768px){ 
                        display: inline;  
                        margin-left: 0;
                        padding-right: 0;
                    }
                }
                .margin-text-more{
                    margin-right: 1rem;
                    @media screen and (min-width:768px){   
                        margin-right: 0;
                    } 
                }
            }
        }
    }

/*Restaurants*/
    .eatery{
        height: auto;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 3rem;
        .responsive{
            @media screen and (min-width:768px){ 
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                  
            }    
            .eatery-card{
                position: relative;
                width: 100%;
                height: 300px;
                box-shadow: 12px 12px 20px -16px grey;
                border-radius: 20px 20px 20px 20px;
                margin-bottom: 1.5rem;
                @media screen and (min-width:768px){ 
                    display: inline;
                    width: 400px;
                    margin-right: 20px;
                } 
                img{
                    width: 100%;
                    height: 220px;
                    border-radius: 20px 20px 0 0;
                    object-fit: cover;    
                }
                .tag{
                    position: absolute;
                    right: 15px;           
                    width: 6rem;
                    height: 40px;
                    border: 2px solid transparent;
                    border-radius: 2px 2px 2px 2px;
                    background-color: $tertiary;
                    color: darken($color: $tertiary, $amount: 50%);
                    font-weight: bold;
                    font-size: 18px;
                }   
            }
        }
    }
}




