@import 'variables';

header{
    width: 100%;
    div{
        display: flex;
        align-items: center;
        a i{
            margin-right: $margin-right;
            margin-left: $margin-left;
            cursor: pointer;   
        }
    }
    
}

h1{
    display: flex;
    justify-content: center;
    font-family: $font-logo;
    margin-block-end: $margin-block-end; 
    margin-block-start: $margin-block-start;
    padding-bottom: $margin-bottom;
    padding-top: 1rem; 
}
