@import 'variables';
@import 'header';

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
}

.align-center{
    display: flex;
    justify-content: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h3-menu{
    margin-block-end: $margin-block-end;
    margin-block-start: $margin-block-start;
    width: 13%;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 4px solid $tertiary;
}

img{
    width: 100%;
    height: 300px; 
}

.padding-bloc-menu{
    padding-bottom: 2rem;
}

.eatery-section{
    width: 100%;
    position: relative;
    bottom: 60px;
    border-radius: 50px 50px 0 0;
    .scrolling-cards-menu1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        animation: 5s scrolling 1s;
    }
    .scrolling-cards-menu2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        animation: 5s scrolling 1s;
    }
    .scrolling-cards-menu3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        animation: 5s scrolling 1s;
    }
        .eatery-card-menu{
            width: 420px;
            height: 75px;
            background-color: #fff;
            box-shadow: 12px 12px 20px -16px grey;
            border-radius: 20px 20px 20px 20px;
            margin-right: -0.5rem;
            margin-left: -0.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (min-width:768px){ 
                width: 420px;
                margin-right: 20px;
            }
            &:active{
            padding-right: 60px;
            }
            &:active{
                .fa-circle-check{
                    position: relative;
                    left: 438px;
                    bottom: 75px;
                    cursor: pointer; 
                    width: 80px;
                    height: 80px;
                    background-color: $tertiary;
                    border: 1px solid $tertiary;
                    border-radius: 0 20px 20px 0;
                    animation: appear 1s;
                    &:before{ 
                        color: #FFF;
                        animation: turn 250ms linear 3;
                    } 
                }
            }
            .eatery-price{
                font-weight: bold;
                font-size: 18px;
                padding-bottom: 1rem;
                margin-block-end: $margin-block-end;
                margin-block-start: $margin-block-start;
            }      
        }
        
}        





/*.info-card{
            width: 100%;
            padding: 0 0 10px 10px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .price{
            display: flex;
            margin-right: 15px;
            padding-bottom: 10px;
            align-items: center;
            justify-content: flex-end;
        }
        .check-box{
            background-color: $tertiary;
            color: #fff;
            border-radius: 0 20px 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 0;
            transform: scaleX(0);
            transition: transform 500ms ease-in-out;
            transform-origin: center right;
        }
        .check-box i{
            transform: rotate(1turn);
            transition: transform 500ms ease-in-out;
        }
        .eatery-card-menu:hover > .check-box {
            transform: scaleX(1);
            transform-origin: center right;
            width: 6rem;
        }
        .eatery-card-menu:hover > .check-box > i {
            transform: rotate(-1turn);
        }
        .bloc1{
            display: inline-block;

        }*/