@import 'variables';
@import 'header';

.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
}

.align-center{
    display: flex;
    justify-content: center;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h3-menu{
    margin-block-end: $margin-block-end;
    margin-block-start: $margin-block-start;
    width: 13%;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 4px solid $tertiary;
}

img{
    width: 100%;
    height: 300px; 
}

.padding-bloc-menu{
    padding-bottom: 2rem;
}

.eatery-section{
    width: 100%;
    position: relative;
    bottom: 60px;
    border-radius: 50px 50px 0 0;
    .scrolling-cards-menu1{
        animation: 5s scrolling 1s;
        @media screen and (min-width:768px){ 
            display: flex;
        }
    }
    .scrolling-cards-menu2{
        animation: 10s scrolling 1s;
        @media screen and (min-width:768px){ 
            display: flex;  
        }
    }
    .scrolling-cards-menu3{
        animation: 15s scrolling 1s;
        @media screen and (min-width:768px){ 
            display: flex;
        }
    }
        .eatery-card-menu{
            width: 105%;
            height: 80px;
            background-color: #fff;
            box-shadow: 12px 12px 20px -16px grey;
            border-radius: 20px 20px 20px 20px;
            margin-right: -0.5rem;
            margin-left: -0.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
            @media screen and (min-width:768px){ 
                display: inline-block;
                width: 450px;
                margin-right: 20px;
            }
            &:active{
            padding-right: 60px;
            }
            &:active{
                .fa-circle-check{
                    position: relative;
                    left: 438px;
                    bottom: 75px;
                    cursor: pointer; 
                    width: 80px;
                    height: 80px;
                    background-color: $tertiary;
                    border: 1px solid $tertiary;
                    border-radius: 0 20px 20px 0;
                    animation: appear 1s;
                    &:before{ 
                        color: #FFF;
                        animation: turn 250ms linear 3;
                    } 
                }
            }
            .eatery-text-menu{
                font-size: 18px;
                margin: 0;
            }
            .eatery-price{
                font-weight: bold;
                font-size: 18px;
                margin-block-end: $margin-block-end;
                margin-block-start: $margin-block-start;
            }      
        }
}        


