@import 'variables';
@import 'keyframes';


/*Boutons Explorer et commander*/
.btn{
    width: 55%;
    height: 50px;
    background: linear-gradient($secondary, $primary);
    color: $text-colour-light;
    font-size: 1.1rem;
    border: 3px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 16px 12px -12px grey;
    cursor: pointer;
}


/*Boutons J'aime*/
.fa-heart{
    position: absolute;
    left: 360px;
    border: none;
    cursor:pointer;
    &:active{
        background-clip: icon;
        background-image: linear-gradient($primary, $secondary); 
        animation: progress-heart .5s ease-in-out;
        /* ou font-weight: bold;
        color: $primary;*/ 
    }
}


  
     



