@import 'variables';

.btn{
    width: 55%;
    height: 50px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: $text-colour-light;
    font-size: 1.2rem;
    border: 3px;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
}